.footnote-ref {
    font-size: smaller;
    text-align: center;
}

.footnote-ref a {
    padding: 0px 4px;
    border-radius: 4px;
    border: 1px solid #5694f1;
    /* color: white; */
    /* display: inline-block; */
}

code {
    background-color: transparent;
    padding: 0;
}
