/* .footnote-ref { */
/*     font-size: smaller; */
/*     text-align: center; */
/* } */

/* .footnote-ref a { */
/*     padding: 0px 4px; */
/*     border-radius: 4px; */
/*     border: 1px solid #5694f1; */
/*     /\* color: white; *\/ */
/*     /\* display: inline-block; *\/ */
/* } */

/* code { */
/*     background-color: transparent; */
/*     padding: 0; */
/* } */

.highlight pre {
    white-space: pre;
    word-wrap: normal; /* to make safari honor white-space: pre; */
    overflow-x: auto;
}

.sidebar-about h1 {
    letter-spacing: 1px;
    white-space: pre-line;
}

details * {
    outline: none;
}
